<!DOCTYPE html>
<html>
<head>
	<title>YOLObet</title>
	<link rel="stylesheet" type="text/css" href="aristyle.css">
</head>
<body>
	<header>
		<img id="logo" src="logo.png"/>
	</header>
	<div class="cta">
		<h2>What are your top 3 goals?</h2>
	</div>
	<div class="goal-set">
		<div class="goal first">
			<span class="number">1</span><span class="goal-content">Enter first goal here</span>
		</div>
		<div class="goal second">
			<span class="number">2</span><span class="goal-content">Enter second goal here</span>
		</div>
		<div class="goal third">
			<span class="number">3</span><span class="goal-content">Enter third goal here</span>
		</div>
	</div>
	<footer>
		<div id="home" class="footer-nav"><img src="Icon_Home.png"></div>
		<div id="friends-" class="footer-nav"><img src="Icon_Friends.png"></div>
		<div id="add-active" class="footer-nav"><img src="Plus_Active.png"></div>
		<div id="profile" class="footer-nav"><img src="Icon_Profile.png"></div>
	</footer>
</body>
</html>