<!DOCTYPE html>
<html>
<head>
	<title>YOLObet</title>
	<link rel="stylesheet" type="text/css" href="../static/aristyle.css">
</head>
<body>
	<header>
		<img id="logo" src="../static/img/logo.png"/>
	</header>
	<div class="feed">
		<div class="feed-item">
			<img class="photo"/>
			<p class="feed-item-content">Ari did something and got something else</p>
			<p class="timestamp">3 sec ago</p>
		</div>
		<div class="feed-item feed-item-alt">
			<img class="photo"/>
			<p class="feed-item-content">Ari did something and got something else</p>
			<p class="timestamp">3 sec ago</p>
		</div>
		<div class="feed-item">
			<img class="photo"/>
			<p class="feed-item-content">Ari did something and got something else</p>
			<p class="timestamp">3 sec ago</p>
		</div>
		<div class="feed-item feed-item-alt">
			<img class="photo"/>
			<p class="feed-item-content">Ari did something and got something else</p>
			<p class="timestamp">3 sec ago</p>
		</div>
	</div>
	<footer>
		<div id="home-active" class="footer-nav"></div>
		<div id="friends" class="footer-nav"></div>
		<div id="add" class="footer-nav"></div>
		<div id="profile" class="footer-nav"></div>
	</footer>
</body>
</html>