<!DOCTYPE html>
<html>
<head>
	<title>YOLObet</title>
	<link rel="stylesheet" type="text/css" href="../static/aristyle.css">
</head>
<body>
	<header>
		<img id="logo" src="../static/img/logo.png"/>
	</header>
	<div class="profile">
		<div class="profile-top">
			<img class="profile-photo"/>
			<div class="profile-info">
				<h2 class="profile-name">Drake</h2>
				<p class="points">5 points</p>
				<p class="level">level 2</p>
			</div>
		</div>
		<p class="motto">"YOLO YOLO LOL"</p>
	</div>
	<div class="challenge-set">
		<div class="goal profile-first">
			<span class="number">1</span><span class="profile-goal-content">Do something goal-y</span>
		</div>
		<div class="goal profile-second">
			<span class="number">2</span><span class="profile-goal-content">Do something goal-y</span>
		</div>
		<div class="goal profile-third">
			<span class="number">3</span><span class="profile-goal-content">Do something goal-y</span>
		</div>
	</div>
	<footer>
		<div id="home" class="footer-nav"></div>
		<div id="friends-active" class="footer-nav"></div>
		<div id="add" class="footer-nav"></div>
		<div id="profile" class="footer-nav"></div>
	</footer>
</body>
</html>